.layout__default {
  &--header {
    padding-left: 2rem;
    padding-right: 20rem;
    background-color: #000;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &--nav {
      display: flex;
    }
    &--homebtn {
      margin-left: 12rem;
      margin-right: 1rem;
      padding-left: 0.2rem;
      padding-right: 0.75rem;
      display: flex;
      color: #000;
      font-weight: 500;
      font-size: 1rem;
      background-color: #fff;
      border-radius: 2rem;
      text-decoration: none;
      & .icon {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        & :hover {
          background-color: #fff;
        }
      }
    }
    &--search_bar {
      display: flex;
      width: 100%;
      align-items: center;
      padding-top: 0.15rem;
      padding-right: 0.5rem;
      background-color: #3a3a3a;
      border-radius: 2rem;
      &--input {
        font-size: 14px !important;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        margin-left: -0.75rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: #ffffff;
      }
      .icon {
        margin: 0;
        :hover {
          background-color: #3a3a3a;
        }
      }
      &:focus-within {
        border: solid 2px #fff;
      }
    }
  }
  &--body{
    background-color: #000;
    display: flex;;
    &--playlist{
        min-height: 90vh;
        font-size: 0.8rem;
        cursor: pointer;
        border-radius: 0.4rem;
        background-color: #131313;
        margin: 0.5rem;
        padding-right: 5rem;
        padding-top: 0.7rem;
        &--item{
            color: #909090;
            display: flex;
            align-items: center;
        }
        .my_play_list{
            margin-left: 1.3rem;
            padding-top: 1.3rem;
        }
    }
    &--main{
        border-radius: 0.4rem;
        background: rgb(19,19,19);
        background: linear-gradient(0deg, rgba(19,19,19,1) 52%, rgba(19,19,41,1) 74%, rgba(0,7,77,1) 100%);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
}
}
.catalog_active{
    color: #fff;
}
